@font-face {
    font-family: MyFont;
    src: url('../../assets//fonts/Myanmar\ MN.ttf');
  }

@keyframes opacityShow {
    0%  {
        opacity: 0;
    }

    100%  {
        opacity: 1;
    }
    
}

.sideBar {
    display: none;
}
.offSideBar {
    display: none;
}
.toggler {
    display: none;
}
.homeImage {display: none}


@media screen and (max-width :768px){
.container {
    max-width: 100%;
    min-width: 100%;
    overflow-x: hidden;
    animation: 2s ease-out 1 opacityShow;
}

.sideBar {
    height: 70%;
    position: fixed;
    top:0;
    background-color:#192252;
    z-index: 2;
    display: flex;
    transform: translateX(0);
    transition: all 0.7s ease-in-out;
}

.sideBar ul li:hover {
    background-color:#6c749d;
}
.offSideBar {
    height: 70%;
    position: fixed;
    top:0;
    z-index: 2;
    display: flex;
    transition: all 0.7s ease-in-out;
    transform: translateX(100%);
    background-color:#192252;
}

.toggler {
    display: flex;
}

.homeImage {display: flex;}
}



